
form{
    width: 30% ;
    margin-left: 35%;
    margin-top: 20px;
    }

    .register {
        margin-top: 6%;
    }
    header{
        font-family: 'Pacifico', sans-serif;
    }

   
    .btn {
        border: none;
    }